[submodule "Backend"]
	path = Backend
	url = https://github.com/0zzz7y/OpenCalendar-Backend.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/0zzz7y/OpenCalendar-Frontend.git
[submodule "Microservices/Core"]
	path = Microservices/Core
	url = https://github.com/0zzz7y/OpenCalendar-Microservices-Core.git
[submodule "Microservices/TEN"]
	path = Microservices/TEN
	url = https://github.com/0zzz7y/OpenCalendar-Microservice-TEN.git
