[submodule "OpenCalendar-Backend"]
	path = Backend
	url = https://github.com/0zzz7y/OpenCalendar-Backend.git
[submodule "OpenCalendar-Frontend"]
	path = Frontend
	url = https://github.com/0zzz7y/OpenCalendar-Frontend.git
[submodule "OpenCalendar-Microservices/OpenCalendar-Microservices-Core"]
	path = OpenCalendar-Microservices/OpenCalendar-Microservices-Core
	url = https://github.com/0zzz7y/OpenCalendar-Microservices-Core.git
